<div class="details">
  <p class="details__short-title">{{ this.bill.short_title }}</p>
  <p class="details__title">{{ this.bill.title }}</p>
  <p class="details__overview-title">Overview</p>
  <p class="details__overview">{{ this.bill.overview }}</p>
  <p class="details__pros-title">Pros</p>
  <p class="details__cons-title">Cons</p>
  <p class="details__pros">{{ this.bill.pros }}</p>
  <p class="details__cons">{{ this.bill.cons }}</p>
  <p class="details__user-vote-title">Your Vote</p>
  <p class="details__user-vote" [style.color]="this.bill.votedYes ? 'green' : 'red'">Voted: {{ this.bill.votedYes ? 'Yay' : 'Nay' }}</p>
  <p class="details__user-vote-date">Date: {{ this.bill.voteDate | date: 'longDate' }}</p>
  <p class="details__rep-vote-title">Representative Vote</p>
  <p class="details__rep-vote-1"
     [style.color]="(this.bill.rep1VotedYes !== undefined) ? (this.bill.rep1VotedYes ? 'green' : 'red') : 'black'">
    {{ this.rep1.lastName }}: {{ (this.bill.rep1VotedYes !== undefined) ? (this.bill.rep1VotedYes ? 'Yay' : 'Nay') : 'Waiting' }}
  </p>
  <p class="details__rep-vote-2"
     [style.color]="(this.bill.rep2VotedYes !== undefined) ? (this.bill.rep2VotedYes ? 'green' : 'red') : 'black'">
    {{ this.rep2.lastName }}: {{ (this.bill.rep2VotedYes !== undefined) ? (this.bill.rep2VotedYes ? 'Yay' : 'Nay') : 'Waiting' }}
  </p>
  <button
    mat-flat-button
    class="details__change-vote-button"
    [style.background-color]="this.bill.votedYes ? '#FE1444' : '#8AC443'"
    (click)="this.changeVote()">
    Change vote to '{{ this.bill.votedYes ? 'Nay' : 'Yay' }}'
  </button>
</div>
