<mat-card class="past-bill__card">
  <div class="past-bill">
    <p class="past-bill__title">{{ this.bill.short_title }}</p>
    <div class="past-bill__user-vote">
      <p class="past-bill__user-vote__text" [style.color]="this.getUserVoteColor()">Your Vote: {{ this.getUserVote() }}</p>
    </div>
    <div class="past-bill__rep-vote-1">
      <p class="past-bill__rep-vote__text" [style.color]="this.getRep1VoteColor()">{{ this.rep1.lastName }}: {{ this.getRep1Vote() }}</p>
    </div>
    <div class="past-bill__rep-vote-2">
      <p class="past-bill__rep-vote__text" [style.color]="this.getRep2VoteColor()">{{ this.rep2.lastName }}: {{ this.getRep2Vote() }}</p>
    </div>
    <button mat-icon-button (click)="this.showDetails()" class="past-bill__menu"> <!-- [matMenuTriggerFor]="menu" -->
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="this.showDetails()">
        <mat-icon>subject</mat-icon>
        <span>Details</span>
      </button>
      <button mat-menu-item class="past-bill__menu__delete">
        <mat-icon [ngStyle]="{'color':'red'}">delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</mat-card>
