<div class="page">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card class="login-card">
      <div class="main-div">
        <h1 class="logo">Omnia</h1>
        <h2 class="sign-in-label">Forgot Password</h2>
        <mat-form-field appearance="fill" class="email-form" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-hint *ngIf="submitted && f.email.errors">
            <mat-hint *ngIf="f.email.errors.required">Required</mat-hint>
            <mat-hint *ngIf="f.email.errors.email">Invalid email</mat-hint>
          </mat-hint>
        </mat-form-field>
        <p class="create-account-link-p">
          <a routerLink="/login" class="create-account-link-a">
            Sign In
          </a>
        </p>
        <button mat-flat-button color="primary" class="sign-in-button" [disabled]="this.loading">
          Reset Password
        </button>
        <mat-hint class="error-hint"
                  *ngIf="this.hint !== ''"
                  [style.color]="this.hintRed ? 'red' : 'black'">
          {{this.hint}}
        </mat-hint>
      </div>
    </mat-card>
  </form>
</div>
