<mat-toolbar *ngIf="this.userLoggedIn()">
  <span class="toolbar__logo"><a routerLink="/" class="toolbar__a">Omnia</a></span>
  <span class="toolbar__spacer"></span>
  <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
    {{ this.currentUser.firstName }} {{ this.currentUser.lastName }}
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="this.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="page">
  <form [formGroup]="registerForm">
    <mat-card class="register-card">
      <div class="main-div">
        <h2 class="create-account-label">Change Account Settings</h2>
        <mat-form-field appearance="fill" class="first-name-form">
          <mat-label>First Name</mat-label>
          <input matInput type="text"
                 formControlName="firstName"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <mat-hint *ngIf="submitted && f.firstName.errors">
            <mat-hint *ngIf="f.firstName.errors.required">Required</mat-hint>
            <mat-hint *ngIf="f.firstName.errors.pattern">Illegal characters</mat-hint>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="last-name-form">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          <mat-hint *ngIf="submitted && f.lastName.errors">
            <mat-hint *ngIf="f.lastName.errors.required">Required</mat-hint>
            <mat-hint *ngIf="f.lastName.errors.pattern">Illegal characters</mat-hint>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="email-form">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <mat-hint *ngIf="submitted && f.email.errors">
            <mat-hint *ngIf="f.email.errors.required">Required</mat-hint>
            <mat-hint *ngIf="f.email.errors.email">Not valid</mat-hint>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="address-form">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
          <mat-hint *ngIf="submitted && f.address.errors">
            <mat-hint *ngIf="f.address.errors.required">Required</mat-hint>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="city-form">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
          <mat-hint *ngIf="submitted && f.city.errors">
            <mat-hint *ngIf="f.city.errors.required">Required</mat-hint>
            <mat-hint *ngIf="f.city.errors.pattern">Invalid characters</mat-hint>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="state-form">
          <mat-label>State</mat-label>
          <input matInput formControlName="state">
        </mat-form-field>
        <mat-form-field appearance="fill" class="zipcode-form">
          <mat-label>Zipcode</mat-label>
          <input matInput maxlength="5" formControlName="zip" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
          <mat-hint *ngIf="submitted && f.zip.errors">
            <mat-hint *ngIf="f.zip.errors.required">Required</mat-hint>
            <mat-hint *ngIf="f.zip.errors.pattern">Can only be numbers</mat-hint>
            <mat-hint *ngIf="f.zip.errors.minLength">Must be 5 digits</mat-hint>
            <mat-hint *ngIf="f.zip.errors.maxLength">Must be 5 digits</mat-hint>
          </mat-hint>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          class="create-account-button"
          (click)="this.saveChanges()"
          [disabled]="this.loading">
          Save Changes
        </button>
        <mat-hint
          class="error-hint"
          [style.color]="this.errorRed ? 'red' : 'black'"
          *ngIf="this.error !== ''">
          {{ this.error }}
        </mat-hint>
        <button
          mat-flat-button color="primary"
          class="change-password-button"
          (click)="this.changePassword()"
          [disabled]="this.disableChangePassword">
          Change Password
        </button>
        <mat-hint
          class="change-password-hint"
          *ngIf="this.changePasswordHint !== ''"
          [style.color]="changePasswordHintRed ? 'red' : 'black'">
          {{ this.changePasswordHint }}
        </mat-hint>
      </div>
    </mat-card>
  </form>
</div>

