mat-toolbar {
  background-color: #007CDC;
  color: white;
}

.toolbar__spacer {
  flex: 1 1 auto;
}

.toolbar__logo {
  font-size: 30px;
}

.toolbar__a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.page {
  padding-top: 15px;
}

.register-card {
  width: 600px;
  margin: auto;
}

mat-hint {
  color: red;
}

.main-div {
  padding: 20px 35px;
  display: grid;
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "create-account-label create-account-label create-account-label"
    "first-name-form last-name-form last-name-form"
    "email email email"
    "hide-password-checkbox hide-password-checkbox hide-password-checkbox"
    "address address address"
    "city state zipcode"
    "create-account-button create-account-button create-account-button"
    "error-hint error-hint error-hint"
    "change-password-button change-password-button change-password-button"
    "change-password-hint change-password-hint change-password-hint";
  grid-column-gap: 10px;
}

.hide-password-checkbox {
  grid-area: hide-password-checkbox;
  justify-self: start;
  align-self: center;
  padding-bottom: 10px;
}

.create-account-label {
  grid-area: create-account-label;
  justify-self: start;
}

.first-name-form {
  grid-area: first-name-form;
  width:100%;
}

.last-name-form {
  grid-area: last-name-form;
  width:100%;
}

.email-form {
  grid-area: email;
  width:100%;
}

.address-form {
  grid-area: address;
  width: 100%;
}

.city-form {
  grid-area: city;
  width: 100%;
}

.state-form {
  grid-area: state;
  width: 100%;
}

.zipcode-form {
  grid-area: zipcode;
  width: 100%;
}

.sign-in-link-p {
  grid-area: sign-in-link;
  align-self: center;
  justify-self: start;
  margin: 0px;
}

.sign-in-link-a {
  text-decoration: none;
  color: #007CDC;
}

.create-account-button {
  grid-area: create-account-button;
  justify-self: stretch;
  background-color: #007CDC;
}

.error-hint {
  grid-area: error-hint;
  color: red;
  justify-self: center;
}

.change-password-button {
  grid-area: change-password-button;
  margin-top: 15px;
  justify-self: stretch;
}

.change-password-hint {
  grid-area: change-password-hint;
  color: red;
  justify-self: center;
}
